footer {
	padding-top: 20px;
	text-align: center;
	color: #999;
	background: #222;
	overflow: hidden;
	height: 500px;
}
#main-container {
	min-height: 50%;
	padding-top: 40px;
	box-shadow: 0 0 30px 10px rgba(0,0,0,0.1);
}
.container-full {
	margin: 0 auto;
	width: 100%;
	height: 700px;
}
.content-header {
	padding-top: 60px;
	padding-bottom: 60px;
	font-size: 24px;
}
.isotope-container {
	text-align: center;
}
.isotope-item {
	transition: box-shadow 0.2s ease, opacity 0.4s ease;
	width: 150px;
	height: 140px;
	display: inline-block;
	margin: 10px;
	box-shadow: 0px 0px 0px black, 0px 2px 7px black inset;
	border-radius: 5px;
	opacity: 0;
	&:hover {
		box-shadow: 0px 2px 7px black, 0px 0px 0px black inset;
	}
}
.isotope-item.visible {
	opacity: 1;
}
.custom-container {
	margin: auto;
}
@media (min-width: 340px) {
.custom-container { width: 340px; }
}
@media (min-width: 510px) {
.custom-container { width: 510px; }
}
@media (min-width: 680px) {
.custom-container { width: 680px; }
}
@media (min-width: 850px) {
.custom-container { width: 850px; }
}
@media (min-width: 1020px) {
.custom-container { width: 1020px; }
}
.search {
	border-radius: 4px;
	font-size: 16px;
	height: 40px;
	padding: 8px 12px;
	text-align: left;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.lift-shadow {
	display: inline-block;
	position: relative;
}
.lift-shadow:before,.lift-shadow:after {
	content: "";
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	max-height: 100px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	transition: box-shadow 0.2s ease;
}
.lift-shadow:after {
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
}
.lift-shadow:active:before,.lift-shadow:hover:before,.lift-shadow:active:after,.lift-shadow:hover:after {
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
}
a {
	color: #777 !important;
	&:hover {
		color: #333 !important;
	}
}
	/* a lot of important here...
	   I blame bootstrap */

.category-link {
	background: inherit !important;
	transition: -webkit-transform 0.2s ease, color 0.2s ease;

	&.selected {
		-webkit-transform: scale(1.3);
		color: #333 !important;
	}
}
form {
	text-align: center;
}
header {
	background: linear-gradient(to right,#ff4600 0,#f90 50%,#ff4600 100%);
	padding-bottom: 40px;
	padding-top: 4px;
	nav {
		box-shadow: 0 2px 10px rgba(0,0,0,0.67);
		background: linear-gradient(to bottom,#fff 0,#e6e6e6 100%);
		z-index: 51;
		width: 100%;
		height: 44px;
		border-width: 0 0 1px;
		border-style: solid;
		border-color: #fff;
		position: relative;
		margin-top: 5px;
		padding-left: 15%;
		padding-right: 15%;
		border-radius: 0 !important;
		a:hover {
			text-decoration: none;
		}
		a {
			background: linear-gradient(to bottom,#fff 0,#e6e6e6 100%);
			box-shadow: 0 4px 2px rgba(0,0,0,0.1);
			height: 44px;
			margin-top: 6px;
			width: 84px;
			line-height: 44px;
			display: inline-block;
			text-align: center;
		}
		a:before {
			box-shadow: 0 -7px 11px 4px hsla(0,0%,0%,.25);
			content: '';
			height: 100%;
			width: 70px;
			position: absolute;
			z-index: -1;
			margin-left: -12px;
			border-radius: 10px;
			-webkit-transform: perspective(100px) rotateX(-125deg);
		}
	}
}
.right {
	float: right;
}
.left {
	float: left;
}

