
<div class="custom-container" ng-controller="GameListController">
	
		<form>
			<span class="lift-shadow">
				<input class="search" type="search" ng-keypress="search($event)" placeholder="Search">
			</span>
		</form>
		<div class="navbar-collapse">
			<ul class="nav navbar-nav">
				<li ng-repeat="category in categories" ng-click="filter(this)"><a ng-class="{selected: category.slug==selectedCategory}" class="category-link" href="/#/list">{{category.name}}</a></li>
			</ul>
		</div>

	<div class="isotope-container">

		<a ng-repeat="game in games" class="isotope-item {{game.categories.join(' ')}}" name="{{game.name}}" href="/#/game/{{game.slug}}" pre-load="{{game.thumbnail}}"></a>

	</div>
</div>
